:root{
    --main-bg-color: rgb(30, 106, 245);
}
*{
    margin: 0;
    padding: 0;
}
header{
    background-color: var(--main-bg-color);
    /* border: rgb(26, 2, 2) 32px;
    color: rgb(255, 196, 0); */
    font-family: sans-serif;
}
main{
    display: inline;
}
/* ul{
    : springgreen;
} */
nav{
    display: flex;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 88px;
    padding: 0 15px;
}
nav ul {
    height: 50px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
   
}
nav ul li{
    list-style: none;
    padding: 0 23px;
    /* margin: 48px; */
}
nav ul li a{
    color: rgb(253, 253, 253);
    text-decoration: none;
    /* text-align: center;
    font-size: 33px; */
}
nav ul li a:hover{
   /* color: rgb(0, 0, 0); */
   font-weight: bolder;
}
.search{
    display: flex;
    align-items: center;
}
.search input{
    width: 30VW;
    height: 27px;
    border-radius: 2px;
    margin: 0 15px 0 50px;
    border:solid rgb(0, 0, 0) 2px;
    padding: 0 15px;
}
.search button{
    font-family: cursive;
    font-weight: 900;
}
.container{
    min-height: calc(100vh - 110px - 10vh);
}

.slider{
     /* display: inline-flex; */
     text-align: center;
    /* align-items: center;  */
    margin: 18px ;
    /* padding: 23px 49px; */
    /* width: 50vh; */
    /* height: 45px; */  
    overflow: hidden;
    height: 23VH;
}
/* img{
    width: 588px;
    height: 121x;
    

} */
.card{
    background-color: rgb(147, 159, 196);
    margin: auto;
    max-width: 90vw;
    
}
.card1{
    background-color: rgb(147, 238, 73);
    margin: 12px 8px ;
    max-width: 98vw;
    /* overflow:scroll; */
}
.card h2{
    font-family: fantasy;
    margin: 0PX 16PX;
    /* padding: -11px; */
   
}
.card-item {
    display: inline-flex;
    justify-content: center;
    width: 15vw;
    flex-direction: column;
    margin: 19px;

}

/* .card-item img{
    width: 140px;
} */
.card-item1 {
    display: inline-flex;
    justify-content: center;
    width: 15vw;
    flex-direction: column;
    margin: 7px;

}

.text-center{
    text-align: center;
}
.container H3{
    text-align:center;
   /* margin:  0px 8px 0px 1180px; */
    font-family:sans-serif;
    color: RED;
}
footer{
    height: 10vh;
    background-color:var(--main-bg-color);
    color: rgb(255, 255, 255);
    font-family:cursive;
}